
<div class="itemscontiner">
	<swiper [config]="swiperConfig">
        <div class="swiper-wrapper">
        	<div class="swiper-slide" *ngFor="let media of mediaItems">
				<md-card>
					<md-card-header>
						<md-card-title>{{media.name}}</md-card-title>
						<md-card-subtitle>{{media.description}}</md-card-subtitle>
					</md-card-header>
					<md-card-content>
						<app-img-cycler rate="500" [images]="media.thumbs"></app-img-cycler>
					</md-card-content>
					<md-card-actions>
						<button md-raised-button color="primary" (click)="requestPlay($event, media)">Play</button>
					</md-card-actions>
				</md-card>
			</div>
		</div>
	</swiper>
</div>
