:host{ 
	
}
md-card{ 
	 margin:20px;
	 margin-bottom:0;
}
md-card-title{
	font-weight:bold;	
}
md-card-subtitle{
	display:none;
}
app-img-cycler{
	width:100%;
	display: block;
}
@media screen and (max-device-width: 1000px) and (orientation:landscape){ 
	md-card-content{ 
		display: none; 
	}
}