
.mat-list-item{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #aaa;
}
md-dialog-content{
	padding:0px;
}

.mat-list-item md-icon{
	margin-right:10px;
}

md-select, md-slider {
	width: 180px;
}