
<md-toolbar color="primary">
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="rootMenu">
		<md-icon>more_vert</md-icon>
    </button>
    <md-menu #rootMenu="mdMenu">
		<button md-menu-item (click)="showAddMediaDialog();">
			<md-icon>add_to_queue</md-icon>
			<span>Add Media</span>
		</button>
		<button md-menu-item (click)="showVideoSettingsDialog();">
			<md-icon>settings</md-icon>
			<span>Video Settings</span>
		</button>
		<button md-menu-item (click)="showWifiSettingsDialog();">
			<md-icon>network_wifi</md-icon>
			<span>WiFi Settings</span>
		</button>
		<button md-menu-item [mdMenuTriggerFor]="powerMenu">
			<md-icon>settings_power</md-icon>
    		<span>Power Options</span>
		</button>
    </md-menu>
    
    <md-menu #powerMenu="mdMenu">
    	<button md-menu-item (click)="updateApplication();">
    		<md-icon>system_update</md-icon>
    		<span>Update</span>
    	</button>
    	<button md-menu-item (click)="restartServices();">
    		<md-icon>autorenew</md-icon>
    		<span>Refresh</span>
    	</button>
    	<button md-menu-item (click)="restartSystem();">
    		<md-icon>refresh</md-icon>
    		<span>Restart</span>
    	</button>
    	<button md-menu-item (click)="shutdownSystem();">
    		<md-icon>power_settings_new</md-icon>
    		<span>Shutdown</span>
    	</button>
    </md-menu>
</md-toolbar>

<app-media-controller></app-media-controller>
<app-media-items></app-media-items>


