<h1 md-dialog-title>Add Media Source</h1>
<md-dialog-content>
	<form>
		<md-form-field class="">
	    	<input mdInput type="url" name="source" placeholder="Source" [(ngModel)]="media_url">
		</md-form-field>
	</form>
</md-dialog-content>
<div id="progress_container" *ngIf="progress">
	<div *ngIf="progress.task == 'Downloading....'">
		<md-progress-bar color="primary" mode="determinate" [value]="progress.ratio * 100"></md-progress-bar>
		<span class="">{{progress.task}}</span>
		<span>{{progress.recieved | bytesToHuman}} / {{progress.total | bytesToHuman}} ({{progress.rate | bytesToHuman}}/s)</span>
		<span>{{progress.eta}} s</span>
	</div>
	<div *ngIf="progress.task == 'Generating thumbnails....'">
		<md-progress-bar color="primary" mode="determinate" [value]="progress.ratio * 100"></md-progress-bar>
		<span class="">{{progress.task}}</span>
		<span>{{progress.recieved}} / {{progress.total}}</span>
	</div>
	<div *ngIf="progress.task == 'Done!'">
		<h3>Finished!</h3>
	</div>
</div>
<md-dialog-actions>
	<button md-raised-button color="primary" (click)="add_media()">Add Media</button>
	<button md-raised-button color="primary" (click)="cancel()">Cancel</button>
</md-dialog-actions>
