
	
md-list-item{
	
}
md-dialog-content{
	/* padding:0; */
}

md-list-item .saved{
	color:#999;
}
md-list-item .encryption{
	color:#999;
}

.success span,
.error span{
	font-size:1.2em;
	font-weight:bold;
	vertical-align:middle;
	line-height:36px;
	padding-left:10px;
}
.success md-icon,
.error md-icon{
	float:left;	
}


