



<div id="media_state">
	<md-progress-spinner mode="determinate" value="{{currentState.position / currentState.duration * 100}}"></md-progress-spinner>
	<!-- <h3>Now Playing:</h3>-->
	<div id="media_info">
		<span class="title">{{currentState.media.name}}</span>
		<span class="time">{{currentState.position | secondsToHms}} / {{currentState.duration | secondsToHms}}</span>
	</div>
</div>
<div id="control_buttons">

	
	<button md-icon-button>
	    <md-icon class="md-36 md-light" aria-label="Toggle Mute" (click)="requestAction('seek',[-10])">fast_rewind</md-icon>
	</button>
	<button md-icon-button>
	    <md-icon class="md-36 md-light" aria-label="Play/Pause" (click)="requestAction('play_pause',[])">{{currentState.is_playing == 0 ? 'play_arrow' : 'pause'}}</md-icon>
	</button>
	<button md-icon-button>
	    <md-icon class="md-36 md-light" aria-label="Toggle Mute" (click)="requestAction('seek',[10])">fast_forward</md-icon>
	</button>
</div>	
	
<div id="volume_controls">
	<button md-icon-button>
		<md-icon class="md-36 md-light" aria-label="Toggle Mute" (click)="requestAction('toggle_mute',[])">{{currentState.volume == 0 ? 'volume_mute' : 'volume_off'}}</md-icon>
	</button>
	
	<volume-control></volume-control>
	
	<!-- <md-slider thumbLabel="true" vertical="true" value="{{currentState.volume}}" (change)="volume_slider_changed($event)" ></md-slider>
	
	<div id="volume_overlay">
		<md-slider thumbLabel="true" vertical="true" value="{{currentState.volume}}" (change)="volume_slider_changed($event)" ></md-slider>
		<button md-icon-button>
			<md-icon class="md-36 md-light" aria-label="Toggle Mute" (click)="requestAction('toggle_mute',[])">{{currentState.volume == 0 ? 'volume_mute' : 'volume_off'}}</md-icon>
		</button>
	</div>-->
</div>
	

