 :host{
 	font-family: Roboto, "Helvetica Neue", sans-serif;
 	position: relative;
 	display:block; 
 	height:120px; 
 	width:100%; 
 	background:#3f3f3f; 
 	/*z-index:999; 
 	border-bottom: 5px solid rgba(0, 0, 0, 0.8);  
 	-webkit-background-clip: padding-box; 
 	background-clip: padding-box;*/
 }

#volume_controls{
	position:absolute; 
	top:0; 
	right:0;
	width:48px;
}

#volume_controls button{ 
	display:block; 
	clear:both; 
	margin-top:10px; 
	margin-right:0; 
}

#volume_overlay{
	position:relative;
	z-index:999;
	background:#999999;
}


md-progress-spinner{
	width:100px;
	height:100px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:10px;
	margin-right:20px;
	float:left; 
}

#media_state #media_info{
	float: left;margin-top:20px;
}

#media_state span{ 
	display: block; 
}

#media_state span.title{ 
	font-size:24px; color:#efefef; 
}

#media_state span.time{ 
	font-style: italic; 
	color:#afafaf; 
}

#control_buttons{
	position:absolute;
	top:70px;
	left:120px;
	clear:both;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    