 :host{
 	font-family: Roboto, "Helvetica Neue", sans-serif;
 	position: relative;
 	display:block; 
 	height:110px; 
 	width:100%; 
 	background:#3f3f3f; 
 }

#media_state {
	display:flex;
	width:100%;
}

#media_state md-progress-spinner{
	width:80px;
	height:80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:10px;
	margin-right:20px;
	flex:none;
}

#media_state #media_info{
	max-width:65%;
	margin-top:10px;
}

#media_state span{ 
	display: block; 
}

#media_state span.title{ 
	font-size:18px;
	color:#efefef; 
	white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

#media_state span.time{
	font-size:12px;
	font-style: italic; 
	color:#afafaf; 
}

#control_buttons{
	margin-top:20px;
	/*position:absolute;
	top:70px;
	left:120px;
	clear:both;*/
}
    
#volume_controls{
	/*position:absolute; 
	top:0; 
	right:0;*/
	width:48px;
	display:inline-block;
}

#volume_controls button{ 
	/*display:block; 
	clear:both; 
	margin-top:10px; 
	margin-right:0;*/ 
}

#volume_overlay{
	position:relative;
	z-index:999;
	background:#999999;
	width:48px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    